{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}
{% block title %}{{ parent() }} - Conditions générales de vente{% endblock %}
{% block titre %}Conditions générales de vente{% endblock %}
{% block contenu %}
    <h2 id="#1">Objet</h2>
    <p>
        1.1 - Les présentes conditions générales de vente ont pour objet de définir les dispositions contractuelles entre l'Etablissement Public du Musée du Louvre (ci-après dénommé l'EPML),
        Etablissement public à caractère administratif regroupant le musée national du Louvre et le musée national Eugène Delacroix, conformément aux dispositions du décret n° 92-1338 du 22 décembre 1992 modifié portant création de l'Etablissement Public du Musée du Louvre.
        Siret n° 180 046 237 000 12 - APE n° APE 9103Z.
        Domicilié Musée du Louvre - 75058 Paris Cedex 01 – France.
        Contrat commerçant : 2333280 EPML DE INTERNET
        et toute personne physique ou morale (ci-après dénommée l'acheteur) achetant des billets individuels sur le site de vente en ligne de billets « www.ticketlouvre.fr », ainsi que les conditions applicables à toute commande de billets effectuée sur le site.
    </p>
    <p>
        1.2	- Toute commande sur les pages dédiées à la vente en ligne de billets individuels du site de l'EPML est exclusivement régie par les présentes conditions générales de vente qui s'appliquent de plein droit et sans restriction.
    </p>
    <h2 id="#2">Nature et disponibilités des prestations vendues en ligne par l'EPML</h2>
    <h2 id="#3">Tarifs</h2>
    <h2 id="#4">Présentation des billets achetés en ligne et conditions d'utilisation</h2>
    <h2 id="#5">Modalités de commande</h2>
    <h2 id="#6">Modalités de paiement</h2>
    <h2 id="#7">Sécurisation des paiements</h2>
    <h2 id="#8">Traitement des données personnelles</h2>
    <h2 id="#9">Cookies</h2>
    <h2 id="#10">Demandes d'annulation et de remboursement</h2>
    <h2 id="#11">Contestation d'un débit bancaire</h2>
    <h2 id="#12">Responsabilité</h2>
    <h2 id="#13">Droit applicable - règlement des litiges</h2>


{% endblock %}
