{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}
{% block title %}{{ parent() }} Conditions générales de vente{% endblock %}
{% block titre %}Conditions générales de vente{% endblock %}
{% block contenu %}
<a id="lien-accueil" href="/"><span class="fa fa-hand-o-left"></span> Retourner à l'accueil</a>
<h2 id="#1">Objet</h2>
<p>
    1.1 - Les présentes conditions générales de vente ont pour objet de définir les dispositions contractuelles entre l'Etablissement Public du Musée du Louvre (ci-après dénommé l'EPML),
    Etablissement public à caractère administratif regroupant le musée national du Louvre et le musée national Eugène Delacroix, conformément aux dispositions du décret n° 92-1338 du 22 décembre 1992 modifié portant création de l'Etablissement Public du Musée du Louvre.
    Siret n° 180 046 237 000 12 - APE n° APE 9103Z.
    Domicilié Musée du Louvre - 75058 Paris Cedex 01 – France.
    Contrat commerçant : 2333280 EPML DE INTERNET
    et toute personne physique ou morale (ci-après dénommée l'acheteur) achetant des billets individuels sur le site de vente en ligne de billets « www.ticketlouvre.fr », ainsi que les conditions applicables à toute commande de billets effectuée sur le site.
</p>
<p>
    1.2	- Toute commande sur les pages dédiées à la vente en ligne de billets individuels du site de l'EPML est exclusivement régie par les présentes conditions générales de vente qui s'appliquent de plein droit et sans restriction.
</p>
<p>
    1.3	- L'acheteur reconnaît avoir pris connaissance des présentes conditions générales de vente préalablement à la validation de sa commande.
    La validation de la commande et le paiement en ligne vaut acceptation des conditions générales de vente sans exception par l'acheteur.
</p>
<p>
    1.4 - L'EPML se réserve la possibilité d'adapter ou de modifier à tout moment les présentes conditions générales de vente. En cas de modification, les conditions applicables sont celles en vigueur au jour de l'enregistrement de la commande.
</p>
<h2 id="#2">Nature et disponibilités des prestations vendues en ligne par l'EPML</h2>
<p>
    2.1 - Sont proposés sur le site « www.ticketlouvre.fr » de vente en ligne de billets les prestations suivantes :<br>
    - Billets collections permanentes et expositions temporaires <br>
    Billet musée : collections permanentes et expositions temporaires, donnant également accès aux collections et expositions temporaires du musée Delacroix et à l'antenne du musée du quai Branly au Louvre. <br>
    - Billet audioguide <br>
    Billet audioguide, correspondant à la location de l'audioguide de l'EPML
    Ce billet permet de retirer l'audio guide au comptoir du musée réservé aux locations payées en ligne. Un document d'identité en cours de validité sera demandé en dépôt lors du retrait de l'audioguide.
</p>
<p>
    2.2 - Le site Internet informe l'acheteur de la disponibilité des prestations au moment de la passation de la commande.
    Le nombre de billets vendus en ligne par réservation et par personne est limité comme suit :
    Collections permanentes et/ou expositions temporaires : 6
    Audioguide : 6
    La page "Votre panier" permet de vérifier le contenu de la commande en cours.
    Tant que le paiement n'a pas été enregistré, le contenu de la commande peut être modifié.
</p>
<h2 id="#3">Tarifs</h2>
<p>
    3.1	Les tarifs et les gratuités sont détaillés, en euros nets de taxes, en annexe des présentes conditions générales de vente et sont consultables sur la page d'accueil du site de vente en ligne de l'EPML.
</p>
<p>
    <strong>Les tarifs applicables sont ceux en vigueur au moment de l'enregistrement de la commande.</strong>
</p>
<p>
    3.2 - Le visiteur susceptible de bénéficier d'un tarif réduit ou de la gratuité devra présenter aux contrôles des titres d'accès aux collections, ou au comptoir de retrait de l'audioguide, le justificatif afférent, en cours de validité, nominatif et avec photographie ou, selon, avec un document d'identité. En cas de non présentation ou de non-conformité du justificatif, l'accès aux collections ou le retrait de l'audioguide sera refusé.
</p>
<h2 id="#4">Présentation des billets achetés en ligne et conditions d'utilisation</h2>
<p>
    4.1 - Le billet est imprimable à la validation du règlement. Il est accessible sous forme de lien et peut être édité depuis le courriel de confirmation.

Le billet doit avoir été imprimé par l'acheteur préalablement à la visite, sans modification de la taille d'impression, pleine page, sur du papier A4 blanc, vierge recto et verso. Les billets partiellement ou mal imprimés, souillés, endommagés ou illisibles sont non valables. L'acheteur est tenu de vérifier le nombre et l'état des billets achetés en ligne imprimés.
Aucun billet acheté en ligne ne peut être retiré sur place.
En cas de billet oublié, abimé, mal imprimé, ou comportant une erreur de nom du porteur, l'EPML se réserve la possibilité de le réimprimer afin de faciliter les démarches du visiteur.
</p>
<p>
    4.2 - Les caractéristiques essentielles du billet sont :
nom du porteur
nature de la prestation associée au billet
prix en euros
date et heure du début de la prestation.
Le billet acheté en ligne est horodaté et valable exclusivement pour la prestation, la date et à compter de l'heure mentionnée. Il ne constitue pas un coupe file mais permet un accès à la pyramide dans la demi-heure de l'horaire indiqué sur le billet.
En cas de non-respect de ce créneau horaire d'accès à la pyramide, le porteur du billet print@home est soumis aux mêmes conditions d'accès et d'attente que les visiteurs sans billet.
</p>
<p>
    4.3	- Le billet est personnel, nominatif et incessible. Il comporte les noms des porteurs de chaque billet renseignés par l'acheteur au moment de l'achat en ligne. Un document d'identité en cours de validité avec photographie peut être demandé au porteur. En cas de non présentation d'un tel document, l'accès à la prestation peut être refusé.
</p>
<p>
    4.4 - L'accès à la prestation est soumis au contrôle de la validité du billet. Il est pourvu d'un code-barres et est contrôlé et enregistré à l'aide de lecteurs de code-barres. La première personne à présenter le billet est présumée en être le porteur légitime. Il sera refusé l'accès à la prestation à toute autre personne se présentant ultérieurement avec une copie du billet.
</p>
<p>
    4.5	- Le visiteur doit conserver son billet par devers lui durant toute la durée de la prestation.
</p>
<p>
    4.6	- Toute personne qui reproduirait illégalement un billet et/ou utiliserait un billet contrefait s'exposerait à des poursuites pénales.
</p>
<p>
    4.7	- L'EPML décline toute responsabilité en cas de perte ou de vol ou d'utilisation de copies à l'insu de l'acheteur, y compris dans l'enceinte du musée.
</p>
<p>
    4.8	- En cas de méconnaissance d'une des conditions énoncées au présent article, l'EPML se réserve le droit de refuser l'accès à la prestation concernée.
</p>
<h2 id="#5">Modalités de commande</h2>
<p>
    5.1	- L'acheteur effectue son achat de billet en ligne comme suit :
</p>
<ol>
    <li>Se rendre sur la page : www.ticketlouvre.fr</li>
    <li>Choisir l'offre.</li>
    <li>Sélectionner la date de visite et l'horaire souhaités à l'aide du calendrier affichant les créneaux disponibles. Lorsque le créneau n'est plus disponible, il est affiché comme complet.</li>
    <li>Choisir la quantité de billets désirés, puis poursuivre les achats ou finaliser la commande.</li>
    <li>Un récapitulatif de commande s'affiche avant la validation de l'achat. Un soutien au Louvre de 2€ est proposé.</li>
    <li>Si la commande correspond, valider. Si la commande ne convient pas, retourner à la sélection de billets.</li>
    <li>Indiquer ses coordonnées : nom, prénom, adresse mail</li>
    <li>Régler la commande par carte bancaire en s'identifiant, le cas échéant, selon la norme 3D-Secure par la saisie du code transmis par sa banque.</li>
</ol>
<p>
    5.2	- Si le paiement est accepté par le Centre de Traitement Commerçant (CTC), la confirmation de commande s'affiche. L'acheteur reçoit un courriel de confirmation de commande et un courriel de justificatif de paiement.
</p>
<p>
    5.3	- A partir du lien figurant dans le courriel de confirmation, l'acheteur génère en PDF son (ses) billet(s) en indiquant les prénom(s) et nom(s) du (des) porteur(s) du (des) billet(s) puis le(s) imprime.
</p>
<h2 id="#6">Modalités de paiement</h2>
<p>
    6.1	- Le paiement des billets par le client s'effectue par carte bancaire. Les cartes de paiement acceptées sur le site « www.ticketlouvre.fr » sont : Carte Bleue, Visa, Mastercard, E-carte bleue.
</p>
<p>
    6.2	- Le paiement est validé selon la Norme 3D-secure et après acceptation de la transaction par le Centre de Traitement Commerçant (CTC) en charge du contrôle du seuil d'autorisation d'achat de la carte de paiement et de la vérification de la liste des cartes de paiement volées ou perdues. En cas de refus par le CTC, la commande est annulée.
</p>
<p>
    6.3	- Dès l'acceptation du paiement, l'acheteur reçoit deux courriels, l'un récapitulant sa commande, l'autre constituant le ticket CB client (à conserver et à produire en cas de contestation).
</p>
<p>
    6.4	- Conformément à la réglementation bancaire en vigueur, l'archivage des données bancaires est de quinze (15) mois à compter de la date de transaction. A la suite de ce délai, les données sont détruites.
</p>
<h2 id="#7">Sécurisation des paiements</h2>
<p>
    7.1	Le site de paiement de l'EPML utilise la plate de forme d'encaissement STRIPE.
</p>
<h2 id="#8">Traitement des données personnelles</h2>
<p>
    8.1	- Seules sont demandées à l'acheteur les informations et données nécessaires à la gestion de sa commande, à la finalisation de sa transaction, à son information et à ses relations avec l'EPML. Ces données sont conservées dans la base de l'EPML.
</p>
<p>
    8.2	- Le traitement automatisé des informations concernant les acheteurs a fait l'objet d'une déclaration à la CNIL par l'EPML.
</p>
<p>
    8.3	- En application des articles 38, 39 et 40 de la loi n° 78-17 du 6 janvier 1978 modifiée en 2004 et relative à l'informatique, aux fichiers et aux libertés, l'acheteur dispose, gratuitement, d'un droit d'accès, de rectification, de modification et d'opposition aux données qui le concernent ou qui concernent les personnes décédées dont il est l'ayant cause. Si l'acheteur souhaite exercer ce droit, il peut s'adresser à l'EPML par courrier à l'adresse ci-après : Musée du Louvre, DRE « Le Louvre et Vous », 75058, Paris cedex 01.
</p>
<h2 id="#9">Cookies</h2>
<p>
    9.1	- Le site de l'EPML utilise des cookies :
« de session », nécessaires à la commande en ligne et détruits dès retrait du site ;
« disque », pour collecter des données anonymes utilisées à des fins statistiques.
</p>
<p>
    9.2	- L'utilisation des cookies peut être désactivée par la sélection par l'acheteur des paramètres appropriés de son navigateur Internet. Une telle désactivation peut empêcher l'utilisation de certaines fonctionnalités du site de vente en ligne de billetterie de l'EPML. En achetant en ligne, l'acheteur consent donc expressément au traitement de ses données nominatives dans les conditions et pour les finalités décrites ci-dessus.
</p>
<h2 id="#10">Demandes d'annulation et de remboursement</h2>
<p>
    10.1 - La vente de billets d'entrée pour un musée ou de prestations liées à celui-ci est assimilée à une vente de services de loisirs et, conformément à l'article L 121-21-8-12° du Code de la consommation, n'ouvre aucun droit au délai de rétractation.
</p>
<p>
    10.2 - En achetant un billet plein tarif en ligne, l'acheteur renonce au bénéfice de toute réduction ou gratuité auxquelles le porteur du billet aurait pu prétendre pour la prestation choisie.
</p>
<p>
    10.3 - Les billets achetés en ligne ne sont ni remboursables, ni modifiables, ni échangeables, ni revendables sauf en cas d'annulation par l'EPML de la prestation correspondante. Le cas échéant, l'acheteur devra en faire la demande dans un délai de trois (3) mois à compter de la date d'annulation ou de modification de la prestation, sur présentation du billet non invalidé et de ses coordonnées bancaires (Relevé d'Identité Bancaire ou numéro de commande), à l'exclusion de tout autre dédommagement ou indemnité quelconque par courriel sur assistance-billetterie@louvre.fr ou par courrier adressé à : Musée du Louvre - Assistance Billetterie - 75058 Paris cedex 01.
</p>
<h2 id="#11">Contestation d'un débit bancaire</h2>
<p>
    11.1 - En cas de contestation en raison du vol ou de la perte de la carte de paiement, l'acheteur doit faire immédiatement opposition en appelant le numéro indiqué par l'établissement bancaire émetteur de la carte de paiement. En cas de vol, il doit faire un dépôt de plainte auprès des autorités compétentes.
</p>
<p>
    11.2 - En cas de contestation en raison d'anomalies constatées par l'acheteur sur son relevé de compte, alors qu‘il est toujours en possession de sa carte de paiement, l'acheteur doit déposer une réclamation auprès de l'établissement bancaire émetteur de la carte de paiement, dès que possible et dans les délais fixés par la loi, de treize (13) mois à compter de la date de débit sur l'opération contestée. La réclamation est transmise via le réseau bancaire à l'EPML. Dans le cas d'une réclamation justifiée, l'ordre est donné au teneur de compte de l'EPML d'effectuer le remboursement par un crédit sur le compte bancaire de l'acheteur.
</p>
<h2 id="#12">Responsabilité</h2>
<p>
    12.1 - Ni l'EPML, ni l'acheteur ne sauraient être tenus responsables de toute inexécution qui aurait pour origine un cas de force majeure. Sont notamment considérés comme des cas de force majeure : les guerres, les émeute, les insurrections, les grèves totales ou partielles internes et externes à l'EPML, le blocage des moyens de transport ou d'approvisionnement pour quelque raison que ce soit, les restrictions gouvernementales ou légales, les incendies, les tremblements de terre, les tempêtes et inondations.
</p>
<p>
    12.2 - Sauf dysfonctionnement du site « www.ticketlouvre.fr » qui lui serait imputable, l'EPML ne pourra être tenu responsable des anomalies pouvant survenir en cours de commande, de traitement, de téléchargement ou d'impression du billet, imputables soit au fait de l'acheteur, soit au fait imprévisible et insurmontable d'un tiers étranger à la prestation, soit à des pannes d'ordinateur, de serveur, le blocage des télécommunications y compris des réseaux et notamment d'Internet.
</p>
<p>
    12.3 - L'EPML ne pourrait être tenu responsable de l'usage des billets achetés, l'acheteur étant seul responsable de leur utilisation par lui-même ou par un tiers.
</p>
<h2 id="#13">Droit applicable - règlement des litiges</h2>
<p>
    Les présentes conditions générales de vente sont régies par la loi française.
</p>
<p>
    En cas de litige, les tribunaux de Paris sont seuls compétents, après épuisement des voies de recours amiables.
</p>

{% endblock %}
