{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}{{ parent() }} - Erreur 404{% endblock %}
{% block titre %}Erreur 404{% endblock %}

{% block contenu %}
<h2 class="text-center">
    Perdu ?
    <span class="fa fa-frown-o"></span>
</h2>
<h3 class="text-center">
    <a id="lien-404" href="/">Retourner à l'accueil</a>
</h3>
{% endblock %}
